# Ignoruj zainstalowane pakiety
elpa/
elpa.backup/
elpaca/
straight/
quelpa/

# Ignoruj pliki cache
auto-save-list/
recentf
places
bookmarks
saveplace
eshell/
transient/
url/
eln-cache/

# Ignoruj desktopy
desktop/
*.desktop
*.desktop.lock

# Ignoruj pliki tymczasowe
*.elc
*~
\#*\#
.\#*
.DS_Store

# Ignoruj backupy
*.backup
*.backup.*
init.el_v*.txt

# Ignoruj tutorial
tutorial/

# Zachowaj TYLKO konfigurację
!init.el
!early-init.el
!modules/
!.gitignore
